@charset "UTF-8";
* {
	user-select: none; 				/* CSS3 */
	-moz-user-select: none; 		/* Firefox */
	-webkit-user-select: none; 		/* Safari、Chrome */
	-ms-user-select: none; 			/* IE10 */	
}
html, body, #calc {
    margin: 0;
    height: 100%;
    width: 100%;
	padding: 0px;
    overflow: hidden;
}

#map-canvas { 
	border: 0px red dotted; 
	height: 100%; 
	margin: 0; 
	padding: 0px;
}

#calc {
	position: absolute; top: 0px; left: 0px;
	background-color: white;
	/* background-color: rgba(255,255,255,0.6); */
	/* opacity:0.5;	debug */
	transition-property: top;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s;
	-moz-transition: 	top 0.5s ease 0s;
	-webkit-transition: top 0.5s ease 0s;
	-o-transition: 		top 0.5s ease 0s;
	-ms-transition: 	top 0.5s ease 0s;
	
	text-align: center;
}
	
/*
*/

#result { 
	font-size: xx-large;
	font-family: sans-serif;
	width: 80%;
	margin: 0px auto;
	padding: 0px;
	
	border: 1px solid #999;
	border-radius: 8px;	
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2) inset;
	
	user-select: text; 				/* CSS3 */
	-moz-user-select: text; 		/* Firefox */
	-webkit-user-select: text; 		/* Safari、Chrome */
	-ms-user-select: text; 			/* IE10 */	
}

.cMap-open-button-div-parentbox {
	display:table;
	margin: 7px auto 0px auto;

	font-family: sans-serif;
	font-weight: bold;
	font-size: x-large;
	text-align: center;
}
#map-open-button-div, #map-close-button-div, #map-marker-button-div {
	height: 1.2em;
	border: 2px solid #fff;
	border-radius: 8px;	
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);

	margin: 0px;
	padding: 2px 0px 0px 0px;
			
	background-color: #ff6600;
	color: white;
	
	font-family: sans-serif;
	font-weight: bold;
	font-size: x-large;
	text-align: center;
			
	display: table-cell;
	vertical-align: middle;

	cursor: pointer;
}
#map-open-button-div { width: 5em; }
#map-close-button-div { width: 5em; position: relative; bottom: 40px; }
#map-marker-button-div { width: 1.2em; position: relative; top: 40px; }
#map-current-location-button-div { 
	width: 1.2em; 
	height: 1em; 
	padding: 0px; 
	margin: 0px; 
	
	position: relative; 
	bottom: 10px; 
	right: 10px; 
	
	border: 1px solid #999;
	border-radius: 4px;	
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	background-color: #fff; 
	
	color: #666;
	font-family: sans-serif;
	font-weight: bold;
	font-size: x-large;
	text-align: center;
	
	display: table-cell;
	vertical-align: middle;
	
	cursor: pointer;
}

#discription { 
	font-size: medium; 
	font-family: sans-serif;
	line-height: 1.2em;
	height: 2em;
	width: 80%;
	margin: 5px auto 0px auto;
	padding: 0px;
	
	user-select: text; 				/* CSS3 */
	-moz-user-select: text; 		/* Firefox */
	-webkit-user-select: text; 		/* Safari、Chrome */
	-ms-user-select: text; 			/* IE10 */	
}
.cSlotDIV {
	display:table;
	margin: 0px auto;
}
.cDIVmargin {	
	margin: 10px;
}
.cResoSlot 	{ 
	font-size: xx-large; 
	border: 1px black solid; 
	width: 50px;
	height: 50px;
	margin: 10px;
	display: table-cell;
	vertical-align: middle;
	border-radius: 8px;	
	font-family: sans-serif;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2) inset;
	cursor: pointer;
}
.cModSlot 	{ 
	font-size: large; 
	border: 1px black solid; 
	width: 50px;
	height: 50px;
	margin: 10px;
	display: table-cell;
	vertical-align: middle;
	border-radius: 8px;	
	font-family: sans-serif;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2) inset;
	cursor: pointer;
}
.title {
	margin: 10px 0px 3px 0px;
}
	
.LA 		{ background-color: #9d8af3; color: #ffffff; }
.SBUL 		{ background-color: #FFCC33; }
.VRLA 		{ background-color: #ff8af7; }
.none 		{ background-color: #ffffff; }
.R1 		{ background-color: #FFE600; }
.R2 		{ background-color: #FFAB00; }
.R3 		{ background-color: #FF6200; color: #ffffff; }
.R4 		{ background-color: #F00000; color: #ffffff; }
.R5 		{ background-color: #F00090; color: #ffffff; }
.R6 		{ background-color: #CB3DC4; color: #ffffff; }
.R7 		{ background-color: #892A9A; color: #ffffff; }
.R8 		{ background-color: #5E2ABA; color: #ffffff; }

#reset		{ 
	margin: 15px 0px 15px 0px; 
	font-size: large; 
	
	/*iPhoneでテキストルーペが出てしまうため*/
	user-select: none; 			/* CSS3 */
	-moz-user-select: none; 	/* Firefox */
	-webkit-user-select: none; 	/* Safari、Chrome */
	-ms-user-select: none; 		/* IE10 */	
}
.hint 		{ font-size: small; margin: 0px 0px 0px 0px; }
.developer 	{ font-size: x-small; margin: 3px 0px 0px 0px; }
	
#centerCross-canvas {
	position: absolute; 
	top: 0px; 
	left: 0px;
    height: 21px;
    width: 21px;
    margin: 0px;
	padding: 0px;
    overflow: hidden;

	border: 1px red dotted; 
	
	background-image: url("./centerCross.png");
	/* background-color: white; */
	/* background-color: rgba(255,255,255,0.6); */
	/* opacity:0.5;	debug */
	
	z-index: 0;
}
